			#line1 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
		    #line2 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
		    #line3 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
		    #line4 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
			.panel {
				display: none;
			}
			.show {
				display: block;
			}
			.gone {
				display: none;
			}
			.nextbutton {
				position: absolute;
				left: 208px;
				border-radius: 15px;
				width: 30px;
				height: 30px;
				background-color: black;
				color: white;
				border-color: black;
			}
			.previousbutton {
				border-radius: 15px;
				width: 30px;
				height: 30px;
				background-color: black;
				color: white;
				border-color: black;
			}
			.nextbutton:hover {
				transition: 0.4s;
				background-color: gray;
				color: black;
				border-color: gray;
			}
			.previousbutton:hover {
				transition: 0.4s;
				background-color: gray;
				color: black;
				border-color: gray;
			}
			input {
				width: 50px;
				margin-bottom: 2px;
			}