			#line1 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
		    #line2 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
		    #line3 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
		    #line4 button {
		        display: inline-block;
				width: 50px;
		        height: 50px;
		        background-color: green;
		        border: none;
		    }
			.panel {
				display: none;
			}
			.show {
				display: block;
			}
			.gone {
				display: none;
			}
			.rightbutton {
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-left: 50px solid #555;
				border-bottom: 25px solid transparent;
			}
			.leftbutton {
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-right: 50px solid #555;
				border-bottom: 25px solid transparent;
			}